*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    }

body {
    font-family: "Lato", sans-serif;
    }

header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 80px 0;

    background-color: #231F20;
    border: 5px solid white;

    color: white;
    }

    .header-content {
        border-bottom: 20px solid #F7965B;
        padding: 0 30px;
        padding-bottom: 30px;
        display: flex;
        }
        .header-stuff {
            width: 100%;
            max-width: 800px;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            margin: auto;
            }
        .logo {
            border-radius: 50%;
            border: 10px solid #F7965B;
            width: 320px;
            height: 320px;
            background-image: url(images/logo.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% auto;
            }

    .title {
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 30px;
        }
        .colored-text {
            color: #F7965B;
            }
        .title p {
            letter-spacing: 1px;
            font-size: .9em;
            }
    .contact-item {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 20px;
        }
        .contact-icon {
            margin-right: 10px;
            }
            .contact-icon img {
                width: 30px;
                }
    .content-services {
        padding: 30px;
        width: 100%;
        max-width: 800px;
        margin: auto;
        }
        .content-services h2 {
            color: #F7965B;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;
            position: relative;
            }
            .content-services h2:before, 
            .content-services h2:after {
                content: '';
                position: absolute;
                width: 35%;
                display: block;
                padding: 2px;
                background-color: #F7965B;
                top: 50%;
                }
                .content-services h2:before {
                    left: 0;
                    }
                .content-services h2:after {
                    right: 0;
                    }
        .services-blocks {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            }
            .ser-block {
                width: 45%;
                text-align: center;
                padding: 10px;
                margin-bottom: 10px;
                }